[Unit]
Description=webapp
After=syslog.target

[Install]
WantedBy=multi-user.target

[Service]
User=ec2-user
ExecStart=/usr/bin/java -jar /home/ec2-user/webapp-target/spring-boot-first-web-application-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143
RemainAfterExit=yes
